.Rproj.user
.Rhistory
.RData
.Ruserdata
wavelet_tree_site01.png
wavelet_tree_site03.png
wavelet_tree_site04.png
wavelet_tree_site05.png
wavelet_tree_site06.png
wavelet_tree_site07.png
wavelet_tree_site08.png
wavelet_tree_site09.png
wavelet_tree_site10.png
wavelet_tree_site11.png
wavelet_tree_site14.png
wavelet_tree_site15.png
wavelet_tree_site18.png
wavelet_tree_site19.png
wavelet_tree_site20.png
wavelet_tree_site21.png
wavelet_tree_site23.png
wavelet_tree_site24.png
wavelet_tree_site26.png
.DS_Store
.RDataTmp2
